:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  height: 100vh;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.card {
  background-color: #343332;
  border-radius: 1rem;
}

.link {
  color: rgb(255, 128, 0);
}

.link:hover {
  color: rgb(222, 145, 0);
  text-decoration: underline;
  cursor: pointer;
}

#mag-RangeSlider-container {
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  padding: 1rem 2rem;

  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}

#year-RangeSlider-container {
  margin-left: 0.3rem;
  padding: 1rem 2rem;

  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 4;
}

#info {
  padding: 1rem;
  margin-top: 0.3rem;

  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 9;
}

#shares-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-row-start: 4;
  grid-row-end: 13;
  grid-column-start: 4;
  grid-column-end: 6;
}

#shares-container2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-row-start: 4;
  grid-row-end: 13;
  grid-column-start: 6;
  grid-column-end: 9;
}

#magType-container {
  margin-left: 0.3rem;
  padding: 1rem;

  grid-row-start: 13;
  grid-row-end: 29;
  grid-column-start: 1;
  grid-column-end: 5;
}

#magSource-container {
  padding: 1rem;

  grid-row-start: 13;
  grid-row-end: 29;
  grid-column-start: 5;
  grid-column-end: 9;
}

#map-container {
  grid-row-start: 1;
  grid-row-end: 29;
  grid-column-start: 9;
  grid-column-end: 21;
}

#mag-linechart-container {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;

  grid-row-start: 29;
  grid-row-end: 43;
  grid-column-start: 1;
  grid-column-end: 21;
}

.title {
  text-align: center;
}

.shares {
  font-size: 3rem;
}
